/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #06070eff;
    --accent: #23fffa80;
    --accent-full: #23fffa;
    --soft: #47846930;
}

* {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    transition: .2s;
}
::selection {
    background: var(--accent);
    color: white;
}
h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900 !important;
}
b {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900 !important;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: var(--accent-full);
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    transform: transition .7s;
    background: var(--accent-full);
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    transform: transition .7s;
    background: var(--accent);
}

.vh-90 {
    min-height: 100vh;
}
.vh-100 {
    min-height: 1080px;
}
.btn-accent {
    border: 3px solid var(--accent) !important;
    color: white !important;
    transition: .2s;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 900 !important;
    line-height: 1;
    text-transform: uppercase;
}
.btn-accent:hover {
    border-color: var(--accent-full) !important;
    color: white !important;
    transition: .2s;
}
.nav-link:hover {
    color: var(--accent-full) !important;
}
.bg-dark-blue {
    background: var(--black) !important;
}
.bg-hero {
    background: url(/static/images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-quiz {
    position: relative;
    background: url(/static/images/quiz-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.9);
    overflow: hidden;
}

@keyframes bg-movement {
    0% { transform: scale(1); }
    100% { transform: scale(2); }
}

.bg-quiz::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    animation: bg-movement 3s infinite alternate;
}

.text-justify {
    text-align: justify !important;
}
.text-accent {
    text-decoration-color: white;
    color: var(--accent);
}
.text-low-white {
    color: #ebebeb !important;
}
.vertical-center {
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.backdrop-blur {
    transition: .2s;
    backdrop-filter: blur(20px);
}
.nav-link {
    color: var(--accent) !important;
}
.nav-link.quiz {
    color: var(--accent-full) !important;
}
.nav-link.quiz:hover {
    color: var(--accent) !important;
}
.nav-pills {
    z-index: 999 !important;
}
.active {
    background-color: var(--soft) !important;
}

.flame-glow {
    position: absolute;
    border-radius: 50%; 
    background-color: rgba(71, 132, 105, 0.9);
    -webkit-filter: blur(175px);
    filter: blur(175px);
    opacity: 80%;
    z-index: -111;
}
.flame-glow-500-center {
    z-index: 888 !important;
    width: 500px;
    height: 200px;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}
.flame-glow-500-left {
    z-index: -888 !important;
    width: 500px;
    height: 500px;
    top: 250px;
    left: -25px;
}
.flame-glow-500-right {
    z-index: -888 !important;
    width: 500px;
    height: 500px;
    top: 850px;
    right: -25px;
}
.flame-glow-500-low-left {
    z-index: -888 !important;
    width: 500px;
    height: 500px;
    top: 1650px;
    left: -25px;
}
.flame-glow-500-low-right {
    z-index: -888 !important;
    width: 500px;
    height: 500px;
    top: 2350px;
    right: -25px;
}
.flame-glow-250-center {
    width: 400px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.flame-glow-25-right {
    width: 150px !important;
    height: 150px;
    right: 15%;
    filter: blur(50px) !important;
}
.flame-glow-25-left {
    width: 150px !important;
    height: 150px;
    left: 15%;
    filter: blur(50px) !important;
}

.fancy {
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    position: relative;
    white-space: nowrap;
    &:after {
      --deco-height: 0.3125em;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(var(--deco-height) * -0.625);
      height: var(--deco-height);
      background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: auto 100%;
      background-repeat: round;
      background-position: 0em;
    }
}
.td-figure {
    perspective: 1500px;
}
.td-figure img {
    transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
    border-radius: 0.375em;
    box-shadow: 2px 10px 30px var(--soft);
    transition: .3s;
}
.td-figure:hover img {
    transform: rotate(0);
}

.bullet::before {
    content: "";
    position: absolute;
    margin-left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--accent) 0%, var(--accent-full) 85%) !important;
}