/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #06070eff;
    --accent: #23fffa80;
    --accent-full: #23fffa;
    --soft: #47846930;
}

* {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    transition: .2s;
}

.vh-100 {
    min-height: 1080px;
}
.nav-link:hover {
    color: var(--accent-full) !important;
}
.bg-dark-blue {
    background: var(--black) !important;
}
.bg-hero {
    background: url(/static/images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-justify {
    text-align: justify !important;
}
.text-accent {
    color: var(--accent);
}
.vertical-center {
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.backdrop-blur {
    transition: .2s;
    backdrop-filter: blur(20px);
}
.nav-link {
    color: var(--accent) !important;
}
.nav-pills {
    z-index: 999 !important;
}
.active {
    background-color: var(--soft) !important;
}

.flame-glow {
    position: absolute;
    border-radius: 50%; 
    background-color: rgba(71, 132, 105, 0.9);
    -webkit-filter: blur(175px);
    filter: blur(175px);
    opacity: 80%;
    z-index: -111;
}
.flame-glow-500-center {
    z-index: 888 !important;
    width: 500px;
    height: 200px;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}
.flame-glow-250-center {
    width: 400px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.fancy {
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    position: relative;
    white-space: nowrap;
    &:after {
      --deco-height: 0.3125em;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(var(--deco-height) * -0.625);
      height: var(--deco-height);
      background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: auto 100%;
      background-repeat: round;
      background-position: 0em;
    }
  }